body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #201414;
    background-attachment:  fixed;
    color: #fff;
    font-size: 1.1em;
    font-family:monospace;
}
footer a{
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
}
footer a:hover{
    color: #ee3337;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: underline;
}

footer{
    text-align: center;
}

#logo{
    text-align: center;
}
#head{
    width: 100%;
    max-width: 400px;
}
#head, #search{
    display: inline-block;
    vertical-align: top;
}
#logo img{
    height: 200px;
    transition: opacity 0.3s ease-in-out;
}

#wrap{
    width: 100%;
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;
    margin: 5% auto;
    background: #5b5250d4;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000c4;
    border: 1px solid #00000047;
}
#search{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}
#search input{
    width: 70%;
    padding: 8px;
    border: 1px solid #ee3437a3;
    box-sizing:  border-box;
    color: #ffffff;
    background: #2e2927a6;
    transition: outline-offset 0.3s ease-in-out;
}
#search button{
    width: 25%;
    background: #ee3337c7;
    border: 1px solid #00000099;
    padding: 7px 0;
    box-sizing: border-box;
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}
#content{
    margin: 10px 0 0 0;
    background: #00000070;
    border-radius: 5px;
    border: 1px solid #ee3437a3;
    box-sizing: border-box;
    padding:10px;
    width:  fit-content;
    margin: 0 auto;
    display:  none;
}
#logo img:hover {
    opacity: 0.7;
}

#search input:focus {
    outline-color: #ee3437ba;
    outline-style: inset;
    outline-offset: -6px;
}
#search button:hover {
    background: red;
}
#search button:focus {
    outline:  none;
}
#barResult {
    background: #8c3432ad;
    max-height: 170px;
    width: 280px;
    transition: height 0.4s ease-in-out;
}
#barResult ul {
    padding: 0 10px 7px;
    margin:  0;
    padding-left: 30px;
}

#loading{
    position: absolute;
    left: -35px;
    top: 0;
}
#loading img{
    height: 30px;
    width:auto;
}
#list li img {top: 7px;left: 10px;position:  relative;height: 22px;}

#list li {
    cursor:  pointer;
}

#list li:hover {
    color: red;
    text-decoration:  underline;
}
#content div span {
    font-weight:  bold;
    color: #ca2013;
}